.btn {
  display: block;
  width: 280px;
  background-color: $green;
  color: $white;
  padding: 17px;
  border: none;
  border-radius: 2px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  cursor: pointer;

  &:hover {
    background-color: $dark-green;
  }

  &:focus {
    outline: none;
    box-shadow: inset 0 0 0 3px $dark-grey;
  }

  &:active {
    background-color: $dark-green;
    color: rgba(255, 255, 255, 0.3);
  }

  &:disabled {
    background-color: $shade-of-grey;
  }

  &--download {
    width: 274px;
    border: 3px solid $white;
    border-radius: 40px;
    padding: 15px 0;
    background-color: transparent;
    text-transform: none;
    font-size: 18px;
    line-height: 18px;

    &:hover {
      background-color: $white;
      color: $pink;
    }

    &:active {
      background-color: $white;
      color: $pink-opacity;
    }
  }

  &--modal {
    margin: 0 auto;
  }

  &--upload {
    width: 278px;
    border: 3px solid $pink;
    border-radius: 40px;
    padding: 15px 0;
    color: $pink;
    background-color: transparent;
    text-transform: none;
    font-size: 18px;
    line-height: 18px;

    @media (min-width: $tablet-width) {
      width: 261px;
    }

    @media (min-width: $desktop-width) {
      width: 183px;
    }

    &:hover {
      background-color: $pink;
      color: $white;
    }

    &:active {
      color: rgba(255, 255, 255, 0.3);
    }
  }

  &--cancel {
    width: 278px;
    border: 3px solid rgba(40, 54, 69, 0.1);
    border-radius: 40px;
    padding: 15px 0;
    color: rgba(40, 54, 69, 0.1);
    background-color: transparent;
    text-transform: none;
    font-size: 18px;
    line-height: 18px;
    flex-shrink: 0;

    @media (min-width: $tablet-width) {
      width: 261px;
    }

    @media (min-width: $desktop-width) {
      width: 183px;
    }

    &:hover {
      background-color: transparent;
      border-color: $dark-grey-opacity;
      color: $dark-grey-opacity;
    }

    &:active {
      background-color: $dark-grey-opacity;
      color: rgba(255, 255, 255, 0.3);
    }
  }

  &--ok {
    margin: 0 auto;
  }
}
