.btn {
  display: block;
  width: 280px;
  background-color: $green;
  color: $white;
  padding: 18px;
  border: none;
  border-radius: 2px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  cursor: pointer;

  &:focus {
    outline-color: $pink;
  }

  &:disabled {
    background-color: $shade-of-grey;
  }

  &--download {
    width: 274px;
    border: 3px solid $white;
    border-radius: 40px;
    padding: 15px 0;
    background-color: $bg-header;
    text-transform: none;
    font-size: 18px;
    line-height: 18px;

    &:active {
      background-color: $white;
      color: $pink-opacity;
    }
  }

  &--modal {
    margin: 0 auto;
  }

  &--round-off {
    width: 278px;
    border: 3px solid $pink;
    border-radius: 40px;
    padding: 15px 0;
    color: $pink;
    background-color: transparent;
    text-transform: none;
    font-size: 18px;
    line-height: 18px;

    &:active {
      color: rgba(255, 255, 255, 0.3);
    }
  }

  &--cancel {
    width: 278px;
    border: 3px solid rgba(40, 54, 69, 0.1);
    border-radius: 40px;
    padding: 15px 0;
    color: rgba(40, 54, 69, 0.1);
    background-color: transparent;
    text-transform: none;
    font-size: 18px;
    line-height: 18px;

    &:active {
      background-color: $dark-grey-opacity;
      color: rgba(255, 255, 255, 0.3);
    }
  }
}
