.btn {
  display: block;
  width: 280px;
  background-color: #2aab6d;
  color: #ffffff;
  padding: 20px 0;
  border-radius: 2px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;

  &--download {
    width: 274px;
    border: 3px solid $white;
    border-radius: 40px;
    padding: 15px 0;
    background-color: $bg-header;
    text-transform: none;
    font-size: 18px;
    line-height: 18px;
  }
}
