.contacts {
  width: 320px;
  text-align: center;
}

.contacts__wrapper {
  @include wrapper-mobile();
  padding-top: 45px;
  padding-bottom: 20px;
}

.contacts__intro {
  margin-bottom: 38px;
}

.contacts__text {
  margin: 0;
  font-size: 24px;
  line-height: 24px;
  font-weight: 300;

  &:first-child {
    margin-bottom: 5px;
  }
}

@media (min-width: $tablet-width) {
  .contacts {
    width: 660px;
  }

  .contacts__wrapper {
    @include wrapper-tablet();
    padding-top: 47px;
    padding-bottom: 5px;
  }

  .contacts__intro {
    margin-bottom: 45px;
  }

  .contacts__text {
    font-size: 40px;
    line-height: 44px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    width: 100%;
    padding-top: 67px;
  }

  .contacts__wrapper {
    @include wrapper-desktop();
  }

  .contacts__text {
    font-size: 50px;
    line-height: 59px;

    &:first-child {
      margin-bottom: 0;
    }
  }

  .contacts__intro {
    margin-bottom: 57px;
  }
}
