.contest {
  display: flex;
  flex-wrap: wrap;
  width: 320px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .contest {
    width: 660px;
  }
}

@media (min-width: $desktop-width) {
  .contest {
    width: 100%;
  }
}
