.contacts {
  width: 320px;
  text-align: center;
}

.contacts__wrapper {
  @include wrapper-mobile();
  padding-top: 45px;
  padding-bottom: 20px;
}

.contacts__intro {
  margin-bottom: 38px;
}

.contacts__text {
  margin: 0;
  font-size: 24px;
  line-height: 24px;
  font-weight: 300;

  &:first-child {
    margin-bottom: 5px;
  }
}

@media (min-width: $tablet-width) {
  .contacts {
    width: 660px;
  }

  .contacts__wrapper {
    @include wrapper-tablet();
  }

  .contacts__text {
    font-size: 40px;
    line-height: 46px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    width: 1200px;
  }

  .contacts__wrapper {
    @include wrapper-desktop();
  }
}
