.contacts-list {
  @include list-reset();
}

.contacts-list__item {
  width: 280px;
  margin-bottom: 15px;
}

.contacts-list__title {
  font-size: 18px;
  line-height: 24px;
  color: $dark-grey;
}

.contacts-list__info {
  margin: 0;
  margin-bottom: 20px;
  color: $pink;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
}

@media (min-width: $tablet-width) {
  .contacts-list {
    display: flex;
    flex-wrap: wrap;
  }

  .contacts-list__item {
    width: 310px;

    &:nth-child(3) {
      width: 298px;
      margin: 0 auto;
    }
  }
}

@media (min-width: $desktop-width) {
  .contacts-list__item:nth-child(2) {
    order: 1;
  }
}
