.contacts-list {
  @include list-reset();
}

.contacts-list__item {
  width: 280px;
  margin-bottom: 15px;
}

.contacts-list__title {
  font-size: 18px;
  line-height: 24px;
  color: $dark-grey;
}

.contacts-list__info {
  display: block;
  margin-bottom: 20px;
  color: $pink;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    color: $dark-grey;
  }

  &:active {
    text-decoration: none;
    color: $dark-grey-opacity;
  }
}

@media (min-width: $tablet-width) {
  .contacts-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .contacts-list__item {
    width: 300px;
    margin-bottom: 23px;

    &:nth-child(3) {
      width: 298px;
      margin: 0 auto;
    }
  }

  .contacts-list__info {
    line-height: 32px;
  }
}

@media (min-width: $desktop-width) {
  .contacts-list__item:nth-child(2) {
    order: 1;
  }

  .contacts-list__title {
    display: block;
    margin-bottom: 20px;
  }
}
