.form-contest {
  width: 320px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-bottom: 40px;
}

.form-contest__fieldset-wrapper {
  width: 320px;
  padding-top: 38px;
  padding-bottom: 20px;
  margin-bottom: 33px;
  background-color: $light-grey;

  &--order-1 {
    margin-bottom: 38px;
  }
}

.form-contest__part {
  display: flex;
  flex-wrap: wrap;
  width: 280px;
  border: none;
  padding: 0;
  padding-bottom: 25px;
  margin: 0 auto;

  &--order-4 {
    margin-bottom: 23px;
  }

  &--order-4 .form-contest__title {
    margin-bottom: 15px;
  }
}

.form-contest__inner {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-bottom: 18px;
}

.form-contest__label {
  line-height: 30px;
  color: $pink;
  text-transform: uppercase;
  margin-bottom: 3px;
  margin-left: 22px;
}

.form-contest__input {
  box-sizing: border-box;
  width: 280px;
  padding: 20px;
  border: 2px solid $shade-of-grey;
  font-size: 18px;
  line-height: 20px;
}

.form-contest__input:active,
.form-contest__input:focus {
  outline: none;
  border-color: $pink;
}

.form-contest__input::placeholder {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: $dark-grey;
}

.form-contest__title {
  width: 220px;
  margin-bottom: 38px;
  line-height: 18px;
  color: $pink;
  text-transform: uppercase;
  text-align: center;
}

.form-contest__list {
  @include list-reset();
}

.form-contest__item {
  margin-bottom: 46px;

  &--radio {
    margin-bottom: 37px;
  }
}

.form-contest__item:last-child {
  margin-bottom: 0;
}

.form-contest__label-check {
  position: relative;
  padding-left: 70px;
  cursor: pointer;
  font-size: 18px;
  line-height: 36px;
}

.form-contest__hidden-input + .form-contest__input-indicator {
  position: absolute;
  top: -5px;
  left: 0;
  width: 34px;
  height: 34px;
  border: 2px solid $shade-of-grey;
  background-color: $white;
}

.form-contest__hidden-input:checked + .form-contest__input-indicator {
  background: $white url("../img/icon-yes.svg") no-repeat center;
}

.form-contest__hidden-input:focus + .form-contest__input-indicator,
.form-contest__hidden-input:active + .form-contest__input-indicator {
  border-color: $pink;
}

.form-contest__hidden-input[type="radio"] + .form-contest__input-indicator {
  width: 15px;
  height: 15px;
  background-color: $white;
  border-radius: 50%;
  border: 10px solid $white;
  box-shadow: 0 0 0 2px $shade-of-grey;
}

.form-contest__hidden-input[type="radio"]:checked + .form-contest__input-indicator {
  background-color: $pink;
}

.form-contest__hidden-input[type="radio"]:active + .form-contest__input-indicator {
  box-shadow: 0 0 0 2px $pink;
}

.form-contest__hidden-input[type="radio"]:focus + .form-contest__input-indicator {
  box-shadow: 0 0 0 2px $pink;
}

.form-contest__textarea {
  width: 238px;
  min-height: 162px;
  resize: none;
  border: 2px solid $shade-of-grey;
  border-radius: 3px;
  padding: 20px;
  padding-top: 15px;
  font: inherit;
  font-size: 18px;
  line-height: 30px;
  color: $dark-grey;
}

.form-contest__submit-wrapper {
  margin: 0 auto;
}

.form-contest__submit-btn {
  @include wrapper-mobile();
  margin-bottom: 20px;
}

.form-contest__foot-text {
  @include wrapper-mobile();
  text-align: center;
  line-height: 30px;
  text-transform: uppercase;
}

.form-contest__foot-sup {
  vertical-align: bottom;
  color: $pink;
}

@media (max-width: $mobile-width-only) {
  .form-contest__title--mobile-none {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .form-contest {
    @include wrapper-tablet();
  }

  .form-contest__part {
    width: 496px;
    border: 2px solid $shade-of-grey;
    padding: 50px 60px;
    margin: 0 auto;

    &--order-0 {
      width: 620px;
      padding: 0;
      order: 0;
      border: none;
    }

    &--order-2 {
      order: 2;
    }

    &--order-4 {
      margin-bottom: 65px;
      order: 4;
    }
  }

  .form-contest__inner {
    display: flex;
    flex-direction: row;
    align-items: baseline;

    &--info-user {
      position: relative;
      flex-direction: column-reverse;
    }
  }

  .form-contest__inner--info-user .form-contest__input {
    width: 100%;
  }

  .form-contest__inner--info-user .form-contest__label {
    padding-left: 20px;

    &::after {
      content: "";
      position: absolute;
      top: 2px;
      right: 2px;
      width: 60px;
      height: 60px;
      background: $shade-of-grey url("../../img/icon-mail.svg") no-repeat center;
    }
  }

  .form-contest__inner--info-user:nth-child(2) .form-contest__label {
    padding-left: 20px;

    &::after {
      content: "";
      position: absolute;
      top: 2px;
      right: 2px;
      width: 60px;
      height: 60px;
      background: $shade-of-grey url("../../img/icon-phone.svg") no-repeat center;
    }
  }

  .form-contest__label {
    margin: 0;
    margin-right: 20px;
  }

  .form-contest__input {
    flex-grow: 2;
  }

  .form-contest__title {
    width: auto;
    padding: 0 25px;
  }

  .form-contest__fieldset-wrapper {
    width: 620px;
    background-color: $white;
  }

  .form-contest__fieldset-wrapper--order-1 {
    order: 1;
  }

  .form-contest__fieldset-wrapper--order-3 {
    order: 3;
  }

  .form-contest__submit-wrapper--order-5 {
    display: flex;
    justify-content: space-between;
    width: 620px;
    order: 5;
  }

  .form-contest__submit-btn {
    margin: 0;
    margin-bottom: 33px;
  }

  .form-contest__textarea {
    width: 452px;
  }

  .form-contest__foot-text {
    width: 185px;
    margin: 0;
  }
}

@media (max-width: $desktop-width) {
  .form-contest__foot-text {
    &--desktop-only {
      display: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .form-contest {
    @include wrapper-desktop();
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .form-contest__part {
    width: 436px;
    margin: 0;

    &--order-2 {
      width: 100%;
    }

    &--order-4 {
      width: 100%;
    }
  }

  .form-contest__fieldset-wrapper {
    &--order-1 {
      width: 436px;
      padding-top: 0;
    }

    &--order-3 {
      width: 960px;
    }
  }

  .form-contest__part-inner {
    display: flex;
    justify-content: space-between;
  }

  .form-contest__fieldset-wrapper--order-1 .form-contest__part {
    width: 312px;
  }

  .form-contest__inner--info-user {
    width: 375px;
    margin: 0;
  }

  .form-contest__fieldset-wrapper--order-3 .form-contest__part {
    width: 836px;
  }

  .form-contest__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .form-contest__item {
    width: 260px;
  }

  .form-contest__textarea {
    width: 793px;
  }

  .form-contest__submit-wrapper {
    &--order-5 {
      width: 100%;
    }
  }

  .form-contest__foot-text {
    width: 320px;
  }
}
