.gallery {
  width: 320px;
}

.gallery__photo {
  margin: 0 auto;
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }
}

.gallery__slogan {
  width: 276px;
  margin: 0 auto;
  text-align: center;
  line-height: 30px;
  padding: 45px 0;
  padding-right: 4px;
}

.gallery__text-one,
.gallery__text-two {
  margin: 0;
}

@media (min-width: $tablet-width) {
  .gallery {
    width: 660px;
  }

  .gallery__wrapper {
    @include wrapper-tablet();
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .gallery__slogan {
    @include wrapper-tablet();
    padding: 65px 0;
    font-size: 18px;
  }
}

@media (min-width: $desktop-width) {
  .gallery {
    width: 960px;
  }

  .gallery__wrapper {
    @include wrapper-desktop();
  }
}
