.gallery {
  width: 320px;
}

.gallery__photo {
  margin: 0 auto;
  margin-bottom: 20px;
}

.gallery__slogan {
  width: 280px;
  margin: 0 auto;
  text-align: center;
  line-height: 30px;
}

.gallery__text-one,
.gallery__text-two {
  margin: 0;
}
