.gallery {
  width: 320px;
}

.gallery__photo {
  margin: 0 auto;
  margin-bottom: 20px;
}

.gallery__slogan {
  width: 280px;
  margin: 0 auto;
  text-align: center;
  line-height: 30px;
}

.gallery__text-one,
.gallery__text-two {
  margin: 0;
}

@media (min-width: $tablet-width) {
  .gallery {
    width: 660px;
  }

  .gallery__wrapper {
    @include wrapper-tablet();
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .gallery__slogan {
    @include wrapper-tablet();
    padding: 65px 0;
    font-size: 18px;
  }

  .gallery-filter {
    @include wrapper-tablet();
  }
}
