.information {
  width: 320px;
}

.information__slogan {
  padding-top: 41px;
  padding-bottom: 80px;
  text-align: center;
  background-color: $white;
}

.information__text {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 300;
}

.information__text:nth-child(1) {
  margin-bottom: 30px;
}

.information__list-wrapper {
  width: 320px;
  padding-top: 35px;
  padding-bottom: 287px;
  background-color: $light-grey;
  background-image: url("../img/iphone-screen-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center 462px;
}

@media (max-width: $mobile-width-only) {
  .information__effect {
    display: none;
  }

  .information__slogan {
    background-image: linear-gradient(174deg, $white 50%, $light-grey 50%);
    background-size: 100% 470px;
  }
}

@media (min-width: $tablet-width) {
  .information {
    display: flex;
    flex-wrap: wrap;
    width: 660px;
  }

  .information__slogan {
    position: relative;
    width: 620px;
    margin: 0 auto;
  }

  .information__text {
    font-size: 40px;
    line-height: 47px;
  }

  .information__text:nth-child(2) {
    margin: 0;
  }

  .information__text:last-of-type {
    width: 340px;
    margin: 0 auto;
  }

  .information__link {
    color: $pink;
  }

  .information__list-wrapper {
    width: 660px;
    padding: 0;
    padding-top: 71px;
    padding-bottom: 7px;
    background-color: $light-grey;
    background-image: url("../img/iphone-screen-3-tablet@1x.png"),
      url("../img/bg-triangle-white.svg");
    background-size: auto, 100%;
    background-position: 20px 0, top;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/iphone-screen-3-tablet@2x.png"),
        url("../img/bg-triangle-white.svg");
      background-size: 268px auto, 100%;
    }
  }

  .information__effect {
    @include wrapper-tablet();
    position: relative;
    display: flex;
    padding-top: 98px;
    padding-bottom: 27px;
    background-image: url("../img/icon-timer.svg");
    background-repeat: no-repeat;
    background-size: 240px 276px;
    background-position: bottom left;

    &::before {
      content: "24";
      position: absolute;
      bottom: 20px;
      left: 19px;
      width: 174px;
      height: 174px;
      background-color: $white;
      border: 14px solid $pink;
      border-radius: 50%;
      font-size: 96px;
      line-height: 163px;
      font-weight: 700;
      color: $pink;
      text-align: center;
    }
  }

  .information__slogan {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .information__text:nth-child(1) {
    margin-bottom: 1px;
  }

  .information__effect-wrapper {
    width: 296px;
    margin-left: 310px;
  }

  .information__title {
    font-size: 30px;
    line-height: 36px;
    color: $black;
  }

  .information__indent {
    margin: 10px 0;
  }
}

@media (min-width: $desktop-width) {
  .information {
    width: 1200px;
    background-color: $light-grey;
  }

  .information__slogan {
    width: 820px;
  }

  .information__text {
    font-size: 50px;
    line-height: 56px;

    &:last-of-type {
      width: 430px;
    }
  }

  .information__list-wrapper {
    width: 1200px;
  }

  .information__effect {
    width: 1200px;
  }

  .information__effect-wrapper {
    @include wrapper-desktop();
    padding-left: 370px;
  }

  .information__indent {
    width: 410px;
  }

  .information__indent br {
    display: none;
  }

  .information__title br {
    display: none;
  }
}
