.list-info {
  @include list-reset();
  @include wrapper-mobile();
  margin: 0 auto;
  text-align: center;
}

.list-info__item {
  margin-bottom: 30px;
}

.list-info__title {
  margin: 0;
  margin-bottom: 13px;
  font-size: 18px;
  line-height: 24px;
  color: $black;
}

.list-info__text {
  margin: 0;
}

@media (min-width: $tablet-width) {
  .list-info {
    width: 310px;
    margin-right: 20px;
    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .list-info {
    @include wrapper-desktop();
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .list-info__item {
    width: 270px;
    text-align: center;
  }

  .list-info__title {
    width: 230px;
    font-size: 30px;
    line-height: 30px;
  }
}
