.list-info {
  @include list-reset();
  @include wrapper-mobile();
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.list-info__item {
  margin-bottom: 30px;
}

.list-info__title {
  margin: 0;
  margin-bottom: 13px;
  font-size: 18px;
  line-height: 24px;
  color: $black;
}

.list-info__text {
  margin: 0;
}
