.main-nav {
  position: relative;
  width: 320px;
  background-color: $dark-grey;

  &--closed {
    background-color: $black-opacity;
  }
}

.main-nav__wrapper {
  @include wrapper-mobile();
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 65px;
}

.main-nav__trigger {
  width: 50px;
  height: 25px;
  border: none;
  z-index: 2;
  cursor: pointer;

  &:active {
    background-color: $pink-opacity;
  }
}

.main-nav--closed .nav-list__item {
  display: none;
}

.main-nav--nojs .main-nav__trigger {
  display: none;
}

.main-nav__nojs .nav-list__item {
  display: block;
}

@media (min-width: $tablet-width) {
  .main-nav {
    width: 660px;
  }

  .main-nav__wrapper {
    @include wrapper-tablet();
    min-height: 110px;
  }
}
