.main-nav {
  position: relative;
  width: 320px;
  min-height: 65px;
  background-color: $dark-grey;

  &--closed {
    background-color: rgba(41, 54, 70, 0.4);
  }
}

.main-nav__wrapper {
  @include wrapper-mobile();
  display: flex;
  padding: 20px 0;
}

.main-nav__trigger {
  position: absolute;
  top: 20px;
  right:20px;
  width: 50px;
  height: 25px;
  border: none;
  z-index: 2;
  cursor: pointer;

  &:active {
    background-color: $pink-opacity;
  }
}

.main-nav--closed .nav-list__item {
  display: none;
}

.main-nav--nojs .main-nav__trigger {
  display: none;
}

.main-nav__nojs .nav-list__item {
  display: block;
}
