.main-nav {
  position: relative;
  width: 320px;
  min-height: 65px;
  background-color: $dark-grey;

  &--closed {
    background-color: $black-opacity;
  }
}

.main-nav__inner {
  @include wrapper-mobile();
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 65px;
}

.main-nav__trigger {
  position: relative;
  right: 0;
  width: 50px;
  height: 25px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.main-nav--closed .main-nav__trigger::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
  width: 50px;
  height: 4px;
  background-color: $white;
  box-shadow: 0 9px 0 0 $white, 0 18px 0 0 $white;
}

.main-nav--closed .main-nav__trigger:hover::before {
  top: 2px;
  left: 0;
  width: 50px;
  height: 4px;
  background-color: $pink;
  box-shadow: 0 9px 0 0 $pink, 0 18px 0 0 $pink;
}

.main-nav--closed .main-nav__trigger:active::before {
  top: 2px;
  left: 0;
  width: 50px;
  height: 4px;
  background-color: $pink-opacity;
  box-shadow: 0 9px 0 0 $pink-opacity, 0 18px 0 0 $pink-opacity;
}

.main-nav--closed .main-nav__list {
  display: none;
}

.main-nav--opened .main-nav__trigger {
  right: 1px;
  width: 25px;
  height: 25px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 6px;
    left: -1px;
    width: 30px;
    height: 3px;
    background-color: #ffffff;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover::before,
  &:hover::after {
    background-color: $pink;
  }

  &:active::before,
  &:active::after {
    background-color: $pink-opacity;
  }
}

.main-nav--nojs .main-nav__trigger {
  display: none;
}

.main-nav--nojs .nav-list__list {
  display: block;
}

@media (min-width: $tablet-width) {
  .main-nav {
    width: 660px;
    height: 110px;
  }

  .main-nav__inner {
    @include wrapper-tablet();
    min-height: 110px;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    width: 100%;
  }

  .main-nav .main-nav__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    width: 622px;
  }

  .main-nav__inner {
    width: 150px;
    margin: 0;
    margin-left: 0;
  }

  .main-nav__wrapper {
    @include wrapper-desktop();
    display: flex;
    justify-content: space-between;
  }

  .main-nav__trigger {
    display: none;
  }
}
