.main-nav {
  width: 320px;
  min-height: 65px;
  background-color: $dark-grey;

  &--closed {
    background-color: $black-opacity;
  }
}

.main-nav__wrapper {
  @include wrapper-mobile();
  position: relative;
  display: flex;
  align-items: center;
  min-height: 65px;
}

.main-nav__trigger {
  position: absolute;
  right: 0;
  width: 50px;
  height: 25px;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &:active {
    background-color: $pink-opacity;
  }
}

// .main-nav--closed .nav-list {
//   display: none;
// }

.main-nav--nojs .main-nav__trigger {
  display: none;
}

.main-nav__nojs .nav-list__item {
  display: block;
}

@media (min-width: $tablet-width) {
  .main-nav {
    width: 660px;
    height: 110px;
  }

  .main-nav__wrapper {
    @include wrapper-tablet();
    min-height: 110px;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    width: 1200px;
  }

  .main-nav__wrapper {
    @include wrapper-desktop();
    justify-content: space-between;
  }

  .main-nav__trigger {
    display: none;
  }
}
