.map {
  position: relative;
  width: 320px;
  height: 200px;

  &::before {
    position: absolute;
    content: "";
    width: 320px;
    height: 37px;
    background-image: url("../img/bg-triangle-white-footer.svg");
    background-repeat: no-repeat;
    background-size: 100%;
  }
}

.map__frame {
  border: none;
}

@media (min-width: $tablet-width) {
  .map {
    width: 660px;
    height: 375px;
  }
}

@media (min-width: $desktop-width) {
  .map {
    width: 1200px;
    height: 505px;
  }
}
