.nav-list {
  @include list-reset();
  width: 320px;
}

.nav-list__link {
  display: block;
  text-align: center;
  padding: 15px 0;
  border-top: 1px solid $border-top-color;
  border-bottom: 1px solid $black;
  background-color: $dark-grey;
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: $white;

  &:active {
    color: $pink;
  }
}

@media (min-width: $tablet-width) {
  .nav-list {
    width: 660px;
  }

  // .nav-list__link {
  //   width: 660px;
  // }
}

@media (min-width: $desktop-width) {
  .nav-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 625px;
  }

  .nav-list__item {
    margin-right: 80px;

    &:last-child {
      margin-right: 0;
    }
  }

  .nav-list__link {
    padding: 0;
    margin: 0;
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
    text-transform: none;
    background: none;
    border: none;
  }
}
