.nav-list {
  @include list-reset();
  width: 320px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.nav-list__link {
  display: block;
  text-align: center;
  padding: 15px 0;
  border-top: 1px solid $border-top-color;
  border-bottom: 1px solid $black;
  background-color: $dark-grey;
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: $white;

  &:hover,
  &:focus {
    color: $pink;
  }

  &:active {
    color: $pink-opacity;
  }
}

@media (min-width: $tablet-width) {
  .nav-list {
    width: 660px;
  }
}

@media (min-width: $desktop-width) {
  .nav-list__item {
    margin-right: 80px;

    &:last-child {
      margin-right: 0;
    }
  }

  .nav-list__link {
    position: relative;
    padding: 0;
    margin: 0;
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
    text-transform: none;
    background: none;
    border: none;

    &--active::after {
      content: "";
      position: absolute;
      left: 0;
      top: 25px;
      width: 100%;
      height: 2px;
      background-color: $white;
    }
  }

  .nav-list__item a[href] {
    &:hover {
      color: $pink;
    }

    &:active {
      color: $white;
      opacity: 0.3;
    }
  }
}
