.page-header {
  display: flex;
  flex-wrap: wrap;
  width: 320px;
  background-color: $bg-header;

  &--form {
    background: $bg-header url("../img/bg-back-mobile@1x.jpg") no-repeat top;
    background-size: cover;
  }
}

.page-header__wrapper {
  background-image: url("../img/iphone-hand-mobile@1x.png"),
                    url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: bottom, center;
  height: 460px;
}

.page-header__intro {
  padding: 30px 0;
}

.page-header__title {
  width: 230px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 55px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 300;
  color: $white;
  text-align: center;
}
