.page-header {
  width: 320px;
  background-color: $dark-grey;

  &--form {
    background: $dark-grey url("../img/bg-back-mobile@1x.jpg") no-repeat top;
    background-size: cover;
  }

  &--photo {
    background: $dark-grey url("../img/bg-back-mobile@1x.jpg") no-repeat top;
    background-size: cover;
  }
}

.page-header__wrapper {
  background-image: url("../img/iphone-hand-mobile@1x.png"),
    url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: bottom, center;
  min-height: 460px;
}

.page-header__intro {
  padding: 30px 0;
}

.page-header__title {
  width: 230px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 55px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 300;
  color: $white;
  text-align: center;

  &--photo {
    margin-bottom: 85px;
  }
}

@media (min-width: $tablet-width) {
  .page-header__wrapper {
    min-height: 730px;
    background-image: url("../img/iphone-hand-tablet@1x.png"),
      url("../img/bg-back-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: bottom, center;
  }

  .page-header {
    display: flex;
    flex-wrap: wrap;
    width: 660px;

    &--form {
      min-height: 440px;
      background: $dark-grey url("../img/bg-back-tablet@1x.jpg") no-repeat top;
    }
  }

  .page-header__title {
    width: 480px;
    font-size: 50px;
    line-height: 56px;
  }
}
