.page-footer {
  width: 320px;
  padding-top: 14px;

  &--photo {
    padding-top: 41px;
  }
}

.page-footer__wrapper {
  @include wrapper-mobile();
}

.page-footer__logo {
  display: block;
  width: 150px;
  margin: 0 auto;
  margin-bottom: 33px;
}

.page-footer__logo-academy {
  fill: $pink;

  &:hover {
    fill: $dark-grey;
  }

  &:active {
    fill: $dark-grey-opacity;
  }
}

.page-footer__development {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  width: 140px;
  margin: 0 auto;
}

.page-footer__developer {
  line-height: 18px;
}

@media (max-width: $mobile-width-only) {
  .page-footer--mobile-only {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .page-footer {
    width: 660px;
    padding: 35px 0;
  }

  .page-footer__wrapper {
    @include wrapper-tablet();
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .page-footer__logo {
    margin: 0;
  }

  .page-footer__development {
    margin: 0;
    width: 130px;
  }

  .page-footer__developer {
    margin-right: 15px;
  }

  .page-footer__link-htmlacademy {
    display: block;
    padding-top: 12px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    width: 100%;
    padding: 70px 0;
  }
  .page-footer__wrapper {
    @include wrapper-desktop();
  }

  .page-footer__development {
    width: 150px;
  }

  .page-footer__developer {
    font-size: 18px;
    line-height: 18px;
  }
}
