.page-footer {
  display: flex;
  flex-wrap: wrap;
  width: 320px;
}

.page-footer__wrapper {
  @include wrapper-mobile();
}

.page-footer__logo {
  display: block;
  width: 150px;
  margin: 0 auto;
}

.page-footer__logo-academy {
  fill: $pink;

  &:hover {
    fill: $dark-grey;
  }

  &:active {
    fill: $dark-grey-opacity;
  }
}

.page-footer__development {
  display: flex;
  justify-content: space-around;
  width: 140px;
  margin: 0 auto;
}

.page-footer__developer {
  line-height: 18px;
}

@media (max-width: $mobile-width-only) {
  .page-footer--mobile-only {
    display: none;
  }
}
