.page-header {
  width: 320px;
  background-color: $dark-grey;

  &--no-hand {
    min-height: 236px;
    margin-bottom: 0;
    background: $dark-grey url("../img/bg-back-mobile@1x.jpg") no-repeat top;
    background-size: cover;
  }
}

.page-header__wrapper {
  background-color: $dark-grey;
  background-image: url("../img/iphone-hand-mobile@1x.png"),
    url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: bottom left, center;
  min-height: 460px;
}

.page-header__intro {
  padding-top: 27px;
  padding-bottom: 30px;
}

.page-header__title {
  width: 230px;
  margin: 0 auto;
  margin-top: 30px;
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  color: $white;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .page-header__wrapper {
    min-height: 730px;
    background-color: $dark-grey;
    background-image: url("../img/iphone-hand-tablet@1x.png"),
      url("../img/bg-back-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: bottom, center;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/iphone-hand-tablet@2x.png"),
        url("../img/bg-back-tablet@2x.jpg");
      background-size: 700px auto, 1200px auto;
    }
  }

  .page-header {
    display: flex;
    flex-wrap: wrap;
    width: 660px;
    padding-bottom: 140px;

    &--no-hand {
      min-height: 440px;
      background: $dark-grey url("../img/bg-back-tablet@1x.jpg") no-repeat top;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/bg-back-tablet@2x.jpg");
        background-size: 1200px auto;
      }
    }
  }

  .page-header__title {
    width: 480px;
    font-size: 50px;
    line-height: 56px;
  }
}

@media (min-width: $desktop-width) {
  .page-header__wrapper {
    min-height: 850px;
    background: transparent;
    background-image: url("../img/iphone-hand-desktop@1x.png");
    background-repeat: no-repeat;
    background-position: 150px bottom;
  }

  .page-header {
    width: 1200px;
    background: url("../img/bg-back-desktop@1x.jpg") no-repeat top;

    &--no-hand {
      min-height: 395px;
    }
  }

  .page-header__title {
    width: 820px;

    &--photo {
      width: 355px;
    }
  }
}
