.photo {
  width: 280px;

  &--main {
    width: 320px;
  }
}

.photo__block {
  margin: 0;
  padding: 0;
  width: 280px;
  height: 180px;

  &--big-photo {
    position: relative;
    width: 320px;
    height: 137px;
  }
}

.photo__slogan {
  position: absolute;
  top: 0;
  right: 20px;
  padding: 6px 20px;
  background-color: $pink;
  font-size: 12px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: $white;
}

.photo__content {
  width: 246px;
  margin: 0;
  padding: 19px 17px;
  background-color: $light-grey;

  &--main {
    margin: 0 auto;
  }
}

.photo__autor {
  font-style: normal;
  font-weight: 700;
}

.photo__time {
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
}

.photo__text {
  margin: 0;
  margin-bottom: 9px;
}

.photo__likes {
  position: relative;
  padding-left: 32px;

  &::before {
    content: "";
    position: absolute;
    top: 6px;
    left: 0;
    width: 13px;
    height: 13px;
    background: url("../img/icon-heart.svg") no-repeat;
  }
}

.photo__likes-text {
  margin: 0;
  font-size: 12px;
  text-transform: uppercase;
  color: $pink;
}

@media (min-width: $tablet-width) {
  .photo {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    margin: 0;
    margin-bottom: 20px;

    &--main {
      width: 100%;
      margin: 0 auto;
      margin-bottom: 50px;
    }
  }

  .photo__block {
    width: 300px;
    height: 300px;

    &--big-photo {
      width: 100%;
      height: 509px;
    }
  }

  .photo__slogan {
    top: 58px;
  }

  .photo__content {
    display: flex;
    flex-direction: column;
    width: 264px;
    padding-top: 25px;
    padding-left: 27px;
    min-height: 105px;
    padding-bottom: 24px;

    &--main {
      position: relative;
      width: 576px;
      margin: 0 auto;
      padding-bottom: 24px;
      min-height: 0;
    }
  }

  .photo__content--main .photo__likes {
    position: absolute;
    top: 26px;
    right: 60px;

    &::before {
      top: 5px;
      left: 106px;
    }
  }

  .photo__content--main .photo__text {
    margin-bottom: 0;
  }

  .photo__likes {
    margin-top: auto;
    padding-left: 0;

    &::before {
      top: 7px;
      left: 227px;
    }
  }
}

@media (min-width: $desktop-width) {
  .photo {
    &--main {
      width: 100%;
    }
  }

  .photo__block {
    height: 400px;

    &--big-photo {
      width: 100%;
      height: 508px;
    }
  }

  .photo__content {
    display: flex;
    flex-wrap: wrap;

    &--main {
      @include wrapper-desktop();
    }
  }
}
