.price {
  display: flex;
  flex-wrap: wrap;
  width: 320px;
  padding-top: 65px;
  padding-bottom: 50px;
  background-color: $light-grey;
  box-sizing: border-box;
  overflow: hidden;
}

.price__table {
  width: 838px;
  margin-left: -257px;
  border-collapse: collapse;
  margin-bottom: 42px;
}

.price__svg-yes {
  position: absolute;
  top: 22px;
  left: 228px;
  width: 31px;
  height: 21px;
  fill: $light-green;
}

.price__svg-no {
  position: absolute;
  top: 16px;
  left: 230px;
  width: 27px;
  height: 26px;
  fill: $red;
}

.price__table-title {
  border-left: 2px solid $shade-of-grey;
  border-right: 2px solid $shade-of-grey;
  padding: 18px;
  background-color: $dark-grey;
  font-size: 18px;
  line-height: 30px;
  color: $white;
  text-transform: uppercase;

  &--hit {
  position: relative;
    &::before {
      position: absolute;
      content: "";
      width: 73px;
      height: 73px;
      top: 0;
      left: -2px;
      background-image: url(../img/bg-hit.svg);
      background-repeat: no-repeat;

    }

    &::after {
      position: absolute;
      content: "Хит";
      left: 9px;
      top: 11px;
      font-weight: 400;
      text-transform: uppercase;
      font-size: 14px;
      line-height: 30px;
      transform: rotate(-45deg);
    }
  }
}

.price__table-price {
  display: block;
  font-size: 24px;
  font-weight: 300;
}

.price__table-desc {
  position: relative;
  width: 241px;
  border-left: 2px solid $shade-of-grey;
  border-right: 2px solid $shade-of-grey;
  border-bottom: 2px solid $shade-of-grey;
  padding: 15px;
  padding-left: 20px;
  line-height: 30px;
  background-color: $white;
  text-transform: uppercase;
}

@media (max-width: $mobile-width-only) {
  .price__table-desc--no-mobile {
    display: none;
  }

  .price__table-title--invisible {
    display: none;
  }

  .price__controls-wrapper {
    width: 320px;
  }

  .price__controls {
    margin: 0 auto;
  }
}

@media (min-width: $tablet-width) {
  .price {
    width: 660px;
  }

  .price__wrapper {
    width: 660px;
  }

  .price__table {
    @include wrapper-tablet();
  }

  .price__table-desc {
    font-size: 0;
    width: 100px;
  }

  .price__svg-yes {
    fill: $green;
  }

  .price__table-title--invisible {
    border: none;
    background-color: transparent;
  }

  .price__table-desc--no-mobile {
    font-size: 14px;
    line-height: 30px;
    text-transform: capitalize;
  }

  .price__controls-wrapper {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .price {
    width: 1200px;
  }

  .price__wrapper {
    @include wrapper-desktop();
  }

  .price__table {
    width: 950px;
  }

  .price__table-desc {
    width: 225px;

    &--no-mobile {
      font-size: 18px;
    }
  }
}
