.price {
  display: flex;
  flex-wrap: wrap;
  width: 320px;
  padding-top: 65px;
  padding-bottom: 45px;
  background-color: $light-grey;
  box-sizing: border-box;
  overflow: hidden;
}

.price__table {
  width: 840px;
  margin-left: -257px;
  border-collapse: collapse;
  margin-bottom: 40px;
}

.price__table-title {
  border-left: 2px solid $shade-of-grey;
  border-right: 2px solid $shade-of-grey;
  padding: 20px;
  background-color: $dark-grey;
  font-size: 18px;
  line-height: 30px;
  color: $white;
  text-transform: uppercase;
}

.price__table-price {
  display: block;
  font-size: 24px;
  font-weight: 300;
}

.price__table-desc {
  border-left: 2px solid $shade-of-grey;
  border-right: 2px solid $shade-of-grey;
  border-bottom: 2px solid $shade-of-grey;
  padding: 14px;
  padding-left: 20px;
  line-height: 30px;
  background-color: $white;
  text-transform: uppercase;
}

@media (max-width: $mobile-width-only) {
  .price__table-desc--no-mobile {
    display: none;
  }

  .price__table-title--invisible {
    display: none;
  }

  .price__controls-wrapper {
    width: 320px;
  }

  .price__controls {
    margin: 0 auto;
  }
}

@media (min-width: $tablet-width) {
  .price {
    width: 660px;
  }

  .price__wrapper {
    width: 660px;
  }

  .price__table {
    @include wrapper-tablet();
  }

  .price__table-desc {
    font-size: 0;
    width: 100px;
  }

  .price__table-title--invisible {
    border: none;
    background-color: transparent;
  }

  .price__table-desc--no-mobile {
    font-size: 14px;
    line-height: 30px;
    text-transform: capitalize;
  }

  .price__controls-wrapper {
    display: none;
  }
}
