.reviews {
  width: 320px;
}

.reviews__wrapper {
  @include wrapper-mobile();
  padding-top: 43px;
  padding-bottom: 70px;
}

.reviews__list {
  @include list-reset();
  text-align: center;
}

.reviews__list-quote {
  margin: 0;
  margin-bottom: 36px;
}

.reviews__list-autor {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: $black;
  font-style: normal;
}

.reviews__list-text {
  margin: 0;
  margin-top: 13px;
  line-height: 30px;
}

@media (max-width: $mobile-width-only) {
  .reviews__list-info {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .reviews {
    width: 660px;
  }

  .reviews__wrapper {
    @include wrapper-tablet();
  }

  .reviews__list-quote {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .reviews__list-autor {
    order: 2;
  }

  .reviews__list-info {
    order: 3;
    line-height: 30px;
  }
}
