.reviews {
  width: 320px;
  background-image: linear-gradient(176deg, $white 50%, $light-grey 50%);
  background-size: 100% 726px;
}

.reviews__wrapper {
  @include wrapper-mobile();
  padding-top: 43px;
  padding-bottom: 70px;
}

.reviews__list {
  @include list-reset();
  text-align: center;
}

.reviews__list-quote {
  margin: 0;
  margin-bottom: 36px;
}

.reviews__list-autor {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: $black;
  font-style: normal;
}

.reviews__list-text {
  margin: 0;
  margin-top: 13px;
  line-height: 30px;
}

@media (max-width: $mobile-width-only) {
  .reviews__list-info {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .reviews {
    width: 660px;
    background-image: linear-gradient(176deg, $white 50%, $light-grey 50%);
    background-size: 100% 748px;
  }

  .reviews__wrapper {
    @include wrapper-tablet();
    padding-top: 97px;
  }

  .reviews__list-quote {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
  }

  .reviews__list-text {
    margin: 0;
    margin-bottom: 35px;
  }

  .reviews__list-autor {
    order: 2;
    font-size: 20px;
    margin-bottom: 2px;
  }

  .reviews__list-info {
    order: 3;
    font-size: 14px;
    line-height: 30px;
  }
}

@media (max-width: $desktop-width) {
  .reviews__controls-arrow {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    width: 100%;
    padding-top: 183px;
    background-image: url("../img/icon-quotes.svg");
    background-repeat: no-repeat;
    background-size: 85px 65px;
    background-position: 50% 69px;
  }

  .reviews__wrapper {
    @include wrapper-desktop();
    position: relative;
  }

  .reviews__list {
    width: 940px;
    margin: 0 auto;
  }

  .reviews__list-item {
    padding: 0 125px;
  }

  .reviews__list-quote {
    text-align: center;
  }

  .reviews__list-text {
    font-size: 18px;
  }

  .reviews__list-info {
    font-size: 18px;
  }

  .reviews__list-autor {
    font-size: 24px;
  }

  .reviews__controls-arrow {
    @include toggle-btn-reset();
    position: absolute;
    width: 25px;
    height: 45px;
    opacity: 0.3;

    &--left {
      top: 28px;
      left: 10px;
      background-image: url("../img/icon-review-arrow-left.svg");
      background-repeat: no-repeat;
    }

    &--right {
      top: 28px;
      right: 7px;
      background-image: url("../img/icon-review-arrow-right.svg");
      background-repeat: no-repeat;
    }

    &:hover {
      opacity: 0.6;
      cursor: pointer;
    }

    &:active {
      opacity: 0.1;
    }
  }
}
