.slider {
  display: flex;
  flex-wrap: wrap;
}

.slider__item {
  display: none;
}

.slider__item:nth-child(1) {
  display: block;
}

.slider__controls {
  display: flex;
  justify-content: space-between;
  width: 58px;
  margin: 0 auto;
}

.slider__toggle {
  @include toggle-btn-reset();
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: $dark-grey-opacity;

  &--active {
    box-shadow: 0 0 0 3px $dark-grey;
    background-color: $white;
  }

  &:active {
    background-color: rgba(40, 54, 69, 0.1);
  }
}

@media (min-width: $desktop-width) {
  .slider__controls {
    display: none;
  }
}
