$dark-grey: #283645;
$white: #ffffff;
$light-grey: #f2f2f2;
$black: #000000;
$pink: #d22856;
$green: #2aab6d;
$red: #f25b26;
$light-green: #3dc644;
$dark-green: #1c9b5e;
$shade-of-grey: #e5e5e5;
$grey: #b5b9be;
$asphalt: #8d949b;
$black-opacity: rgba(0, 0, 0, 0.3);
$border-top-color: #485461;
$pink-opacity: rgba(210, 40, 86, 0.3);
$dark-grey-opacity: rgba(40, 54, 69, 0.3);
$tablet-width: 660px;
$desktop-width: 960px;
$mobile-width-only: 640px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
